@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box{
  border: 1px solid black;
}
.time{
  border:none
}
::-webkit-scrollbar {
  width: 5px;
}

 

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}

.zoomOut {
  background: white;
  animation: createBox .5s;
   
}
@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}